# generated code
src/Lex.hs
src/Parse.hs
src/dist-newstyle
tests/**/*.out

# build results
bin/
result*

# cabal
**/*.cabal.local
**/cabal.project.local*
dist-newstyle/
dist/

# coq
*.vo
*.vok
*.vos
*.glob
**/CoqMakefile
**/CoqMakefile.conf
*.aux
**/.coqdeps.d

# mdbook
doc/book
