bin/
src/Lex.hs
src/Parse.hs
src/dist-newstyle
result*
**/*.cabal.local
**/cabal.project.local*
tests/**/*.out
*.vo
*.vok
*.vos
*.glob
**/CoqMakefile
**/CoqMakefile.conf
*.aux
**/.coqdeps.d
src/dist/
