# generated code
src/Act/Lex.hs
src/Act/Parse.hs
dist-newstyle/
tests/**/*.out

# build results
bin/
result*

# cabal
*.cabal.local
cabal.project.local*
src/dist/

# coq
*.vo
*.vok
*.vos
*.glob
**/RocqMakefile
**/RocqMakefile.conf
**/.RocqMakefile.d
**/.lia.cache
*.aux
**/.coqdeps.d

# mdbook
doc/book

# direnv
.direnv/

*~
*#
